@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: black;
  font-family: sans-serif;
}

::-webkit-scrollbar-thumb {
  background-image: linear-gradient(to right button, #00f260, #0575e6);
}

::-webkit-scrollbar {
  width: 8px;
  height: 0px;
}

tr {
  border-top: 1px solid #c6cbd1;
  background: #dcdcdc;
}

th,
td {
  padding: 6px 13px;
  border: 1px solid #dfe2e5;
}

table tr:nth-child(2n) {
  background: #f6f8fa;
}

ul,
ol {
  /* background: #fcfcfc; 背景色 */
  padding: 0.5em 0.5em 0.5em 2em; /*ボックス内の余白*/
  /* border: solid 3px gray; 線の種類 太さ 色 */
}

ul li,
ol li {
  line-height: 1.5; /*文の行高*/
  padding: 0.5em 0; /*前後の文との余白*/
  list-style-type: disc;
}

blockquote {
  position: relative;
  padding: 30px 15px 8px 15px;
  box-sizing: border-box;
  font-style: italic;
  background: #efefef;
  color: #555;
}

blockquote:before {
  display: inline-block;
  position: absolute;
  top: 13px;
  left: 15px;
  content: "\f10d";
  font-family: FontAwesome;
  color: #cfcfcf;
  font-size: 28px;
  line-height: 1;
  font-weight: 900;
}

blockquote p {
  padding: 0;
  margin: 10px 0;
  line-height: 1.7;
}

blockquote cite {
  display: block;
  text-align: right;
  color: #888888;
  font-size: 0.9em;
}
